.chekOutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;

  a {
    &:hover,
    &:visited,
    &:link {
      color: black;
      text-decoration: underline;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .checkOutTitle {
    margin: 40px 0;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.6px;
  }

  .orderPage {
    display: flex;
    flex-direction: row;

    .checkOutContents {
      display: flex;
      flex-direction: column;

      .shippingInfo {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.6px;
        margin-bottom: 5px;
      }

      .linkContain {
        margin: 10px 0 18px 0;
        font-size: 13px;
        color: #0a0101ab;

        .goToLogin {
          margin-left: 8px;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 0.8px;
          color: black;
          text-decoration: underline;
        }
      }
    }

    .checkOutInput {
      display: block;
      width: 395px;
      margin: 10px 0 20px 0;

      .info {
        margin: 0 2px 2px 1.5px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.08em;

        .dot {
          margin-left: 4px;
        }
      }

      .orderInput {
        width: 395px;
        height: 43px;
        padding: 18px;
        margin-top: 8px;
        border: 1px solid #d3d3d3;
      }
    }

    .btnLink {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 395px;

      .goToCart {
        margin: 10px 10px 18px 0;
        font-size: 13px;
        color: #0a0101ab;
      }

      .checkOutBtn {
        width: 200px;
        height: 34px;
        margin: 22px 0 30px 0;
        border: 1px solid #000;
        cursor: pointer;

        .btnText {
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
