@import '../../styles/variable.scss';

.mainContainer {
  padding: 80px 0;

  .carouselWrapper {
    @include display-flex(center, center);

    .slideBox {
      position: relative;
      overflow: hidden;

      .slideFstWrapper {
        display: flex;
        width: fit-content;
        transition: 0.2s;
      }
    }

    .buttonWrapper {
      @include display-flex(space-between, center);
      position: absolute;
      height: 70vh;
      width: 100vw;
      padding: 0 30px;
      color: #dfdfdf;
      opacity: 60%;
    }
  }

  .cardLargeBox {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .cardLargeWrapper {
      display: flex;
      justify-content: space-between;
      width: 1240px;
      height: 100%;
      padding: 100px 0;
    }
  }

  .bestSeller {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 1252px;
    font-size: 25px;
    font-weight: 600;
  }

  .dragWrapper {
    @include display-flex(center, center);

    .dragbuttonWrapper {
      @include display-flex(space-between, center);
      position: absolute;
      height: 400px;
      width: 90vw;
      padding: 0 30px;
      color: #dfdfdf;
      opacity: 60%;
    }

    .dragBox {
      position: relative;
      width: 1252px;
      overflow: hidden;

      p {
        padding-top: 100px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: 500;
      }

      .dragFstWrapper {
        display: flex;
        width: fit-content;
        transition: 0.2s;

        .dragCardWrapper {
          margin-right: 13px;
        }
      }
    }
  }

  .alignAd {
    @include display-flex(center, center);
    width: 100vw;
    padding-top: 60px;
  }

  .categoryWrapper {
    @include display-flex(center, flex-start);
    width: 1240px;
    margin: 80px auto 20px auto;
    background: rgba(0, 0, 0, 0.1);

    .categoryDesc {
      flex: 3;
      background: rgba(0, 0, 0, 0.01);
      padding: 30px;

      h1 {
        font-size: 1.3rem;
        font-weight: 600;
      }

      p {
        padding-top: 10px;
        font-size: 1rem;
        line-height: 150%;
      }
    }

    .categoryPic {
      flex: 7;
      height: 430px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
