@import '../../../styles/variable.scss';
@mixin btn {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  cursor: pointer;
}

.compareItem {
  @include display-flex(space-between, flex-start);
  width: 1240px;
  padding: 100px 0;

  .tableColumn {
    width: 300px;

    .tableRowImg {
      height: 300px;

      h2 {
        font-size: 1.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .tableRowName {
      @include display-flex(space-between, flex-start);
      height: 50px;
      padding: 20px 0;

      h3 {
        font-weight: 500;
      }

      .compareName {
        flex: 7;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
      }

      .comparePrice {
        flex: 3;
        text-align: right;
        font-weight: 500;
      }
    }

    .tableRowDesc {
      display: -webkit-box;
      height: 7em;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1;
      white-space: normal;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;

      h3 {
        font-weight: 500;
      }
    }

    .tableRowBtn {
      padding: 10px 0;

      button {
        @include btn;
        background: black;
        color: white;
      }
    }
  }
}
