@mixin btn {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  cursor: pointer;
}

.compareItemGrid {
  height: 700px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 320px 50px 100px;
  gap: 30px;
  width: 100%;
  height: 100%;

  .compareItem {
    width: 100%;
    height: 100%;

    h2 {
      font-size: 1.5rem;
    }

    .compareItemImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .compareItemNamePrice {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .compareItemName {
        flex: 8;
      }

      .compareItemPrice {
        flex: 2;
        text-align: right;
      }
    }

    .addToBag {
      @include btn;
      border: 2px solid black;
    }
  }
}
