@mixin btn {
  width: 100%;
  padding: 10px 0;
  margin: 20px 0;
  cursor: pointer;
}

.detail {
  width: 1240px;

  .detailNav {
    padding-bottom: 20px;
    color: rgb(128, 128, 128);

    a {
      text-decoration: none;
      color: rgb(128, 128, 128);
    }
  }

  .productMain {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

    .productImgSection {
      display: flex;
      align-items: flex-start;

      flex: 1;
      background: white;

      .gallery {
        margin-right: 30px;

        .galleryImgBox {
          display: block;
          width: 100px;
          height: 100px;
          margin-bottom: 8px;

          .galleryImg {
            width: 100%;
            height: 100%;
            border: 2px solid transparent;
            box-sizing: border-box;
            object-fit: cover;
            cursor: pointer;
          }

          .border {
            border: 2px solid black;
          }
        }
      }

      .productImgContainer {
        width: 600px;
        height: 600px;

        .selectedImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .productDescSection {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .productDescWrapper {
        width: 400px;

        .productMainPrice {
          color: rgb(128, 128, 128);

          .price {
            padding-right: 20px;
          }
        }

        .productTitle {
          padding: 10px 0;

          h1 {
            font-size: 2.3rem;
          }
        }

        .productDescWrapper {
          padding-bottom: 15px;

          .summary {
            padding: 15px 0;
          }

          .productDesc {
            margin-top: 15px;
            background-color: white;
            overflow: hidden;
            margin-bottom: 10px;
            height: 100%;
          }

          .hide {
            height: 0;
          }

          .showMore {
            cursor: pointer;
            border-bottom: 1px solid black;
          }
        }

        .addToBag {
          @include btn;
          background: black;
          color: white;
        }

        .descTitleBtn {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 10px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          cursor: pointer;

          &::after {
            content: '+';
          }
        }

        .descContent {
          padding: 10px;
        }

        .moreDetail {
          display: flex;
          justify-content: flex-end;
          padding: 10px 0;

          .moreDetailBtn {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
