.shopContainer {
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  display: flex;
  height: 100%;

  .shopBody {
    display: flex;
    width: 1240px;
    margin-top: 30px;

    .shopAside {
      flex: 2;
      background: white;
      font-size: 0.8rem;

      .sideMenuTop {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;

        li {
          padding: 10px 0;
          font-weight: 500;
        }
      }
    }
    .products {
      flex: 8;
      background: white;
      margin-left: 10px;

      .sortSection {
        display: flex;
        justify-content: space-between;

        .sortText {
          padding-right: 10px;
          font-weight: 500;
          font-size: 0.8rem;
        }

        .sort {
          padding: 8px;
          width: 200px;
          border: 1px solid #ccc;
          outline: 0;
          font-size: 0.8rem;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}
