.gallery {
  height: 100%;
  width: 100px;
  margin-right: 20px;

  .galleryImg {
    display: block;
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-bottom: 10px;
    }
  }
}
