.slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 530px;
  font-size: 30px;
  font-weight: 400;
  color: black;
  z-index: 1;

  span {
    width: 30%;
    z-index: 999;
    opacity: 40%;
    font-weight: 400;
    line-height: 165%;
    text-align: center;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
