.categoryWrapper {
  display: flex;
  justify-content: center;
}

.shopHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.1);

  .headerDesc {
    flex: 3;
    height: 430px;
    background: rgba(0, 0, 0, 0.01);
    padding: 30px;

    h1 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    p {
      padding-top: 10px;
      font-size: 0.8rem;
      line-height: 150%;
    }
  }

  .headerPic {
    flex: 7;
    height: 430px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
