@import '../../styles/variable.scss';

.categoryWrapper {
  @include display-flex(center, flex-start);
  width: 1240px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.1);

  .categoryDesc {
    flex: 3;
    background: rgba(0, 0, 0, 0.01);
    padding: 30px;

    h1 {
      font-size: 1.3rem;
      font-weight: 600;
    }

    p {
      padding-top: 10px;
      font-size: 1rem;
      line-height: 150%;
    }
  }

  .categoryPic {
    flex: 7;
    height: 430px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
