@import '../../styles/variable.scss';

.titleListBox {
  position: absolute;
  margin-top: 20px;
  // left: 0;
  // display: flex;
  // justify-content: center;
  width: 100vw;
  // background-color: aquamarine;

  .titleListContainer {
    display: flex;
    justify-content: center;

    width: 100vw;

    // display: flex;
    // padding-top: 80px;

    .categoryName {
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
