@import '../../styles/variable.scss';

.titleListBox {
  margin-top: 20px;
  width: 100vw;
  position: absolute;
  // left: 0;
  // right: 0;
  // padding-right: 300px;
  background-color: aquamarine;

  // background-color: aquamarine;

  .titleListContainer {
    display: flex;
    justify-content: center;
    // opacity: 0.5;
    // margin: 0 auto;
    .categoryName {
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
