@import '../../styles/variable.scss';

.titleListBox {
  position: absolute;
  margin-top: 20px;
  width: 100vw;
  // background-color: aquamarine;

  .titleListContainer {
    display: flex;
    justify-content: center;
    width: 100vw;

    .categoryName {
      padding: 10px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
